.app-header {
  position: sticky;
  top: 0;
  z-index: 200;

  background-color: var(--bg-elevated-base);
  border-bottom: 1px solid #2a2a2a;

  padding: 8px 16px;
  margin-bottom: 5px;
}

.app-header nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.app-header .nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.app-header .nav-left a {
  font-size: 14px;
  color: var(--text-secondary);
}

.app-header .nav-left a.active {
  color: var(--text-primary);
}

.app-header .nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-center-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.home-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5%;

  cursor: pointer;
}

.home-btn svg {
  font-size: 200%;
  color: var(--text-primary);
}

.search-bar {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 30px;

  background-color: #2a2a2a;
  border-radius: 999px;
  padding: 0 18px;

  transition: background-color 0.2s ease;
}

.search-bar:hover,
.search-bar.active {
  background-color: #3a3a3a;
}

.search-indicator {
  font-size: 20px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;

  height: 100%;
  color: var(--text-primary);
  font-size: 15px;
  line-height: 1;

  width: 320px;
}

.search-bar input::placeholder {
  color: var(--text-secondary);
}

.app-header .nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-avatar-outer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-highlight);

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar-inner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--spotify-green);
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.app-header .nav-right a,
.app-header .nav-right button {
  font-size: 14px;
  color: var(--text-secondary);
  background: none;
  border: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-header .nav-right a:hover,
.app-header .nav-right button:hover {
  color: var(--text-primary);
}
