.app-header {
  display: flex;
  min-height: 3.5rem;
  background-color: var(--clr4);
  padding: 0.8rem 1rem;
}


.app-header nav {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.8em;
  gap: 1em;
}


.app-header .nav-left {
  display: flex;
  align-items: center;
  gap: 1em;
}

.app-header .logo {
  font-size: 1.4em;
  font-weight: bold;
  margin-inline-end: 1.5em;
}

.app-header .active {
  color: var(--clr1);
}


.app-header .nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}


.app-header .nav-right {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.app-header .login-link {
  margin-inline-start: auto;
}

.app-header .user-info {
  display: flex;
  align-items: center;
  gap: 0.6em;
  color: var(--clr1);
}

.app-header .user-info img {
  width: 2em;
  aspect-ratio: 1;
  border-radius: 50%;
}

.app-header .user-info .score {
  padding: 6px 8px;
  background-color: var(--clr2);
  border-radius: 50%;
  color: var(--gray1);
}


.app-header button {
  margin: 0;
}
