.app-header {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: black;
  padding: 8px 15.5px;
  margin-bottom: 7px;
}

.app-header nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 11px;
}
.app-header .nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 11.1px;
}

.spotify-logo {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.app-header .nav-left a {
  font-size: 14px;
  color: var(--text-secondary);
}
.app-header .nav-left a.active {
  color: var(--text-primary);
}
.app-header .nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 0px;
}
.header-center-group {
  display: flex;
  align-items: center;
  gap: 1px;
}
.home-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
  margin-top: -0.5px;
  margin-right: 8px;
  gap: 1;
  cursor: pointer;  
}
.home-btn svg {
  font-size: 200%;
  margin-top: 1px;
  color: var(--text-primary);
}
.search-bar {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 30px;
  background-color: #2a2a2a;
  border-radius: 999px;
  padding: 1px 0px;
  transition: background-color 0.2s ease;
}
.search-bar:hover,
.search-bar.active {
  background-color: #3a3a3a;
}
.search-indicator {
  font-size: 20px;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
}
.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  color: var(--text-primary);
  font-size: 15px;
  line-height: 1;
  width: 360px;
}
.search-bar input::placeholder {
  color: var(--text-secondary);
}
.app-header .nav-right {
  display: flex;
  align-items: center;
  gap: 1px;
}
.user-avatar-outer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-highlight);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-avatar-inner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--spotify-green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.app-header .nav-right a,
.app-header .nav-right button {
  font-size: 14px;
  color: var(--text-secondary);
  background: none;
  border: none;
  cursor: pointer;
  font-family: Arial; /*system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  font-weight: bold;
  padding: 8px 14px;
}
.app-header .nav-right a:hover,
.app-header .nav-right button:hover {
  color: var(--text-primary);
}

.app-header .nav-right .login-pill {
  background: #fff !important;
  color: #000 !important;
  font-weight: 800 !important;
  font-size: 14px;
}

.user-popover {
  position: relative;
}

.logout-popover {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;

  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 8px;

  padding: 8px;
  min-width: 140px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  z-index: 300;
}

.logout-popover button {
  width: 100%;
  padding: 6px 8px;
  text-align: left;
  border-radius: 4px;

  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
}

.logout-popover button:hover {
  background-color: #3a3a3a;
  color: var(--text-primary);
}

.login-pill {
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;
  border-radius: 999px;

  background: #fff;
  color: #000;

  font-weight: 700;
  font-size: 10px;

  cursor: pointer;
}

.login-pill:hover {
  transform: scale(1.04);
  background: #f2f2f2;
}
