.login-form,
.signup-form {
  width: 100%;
}

.signup-form > input {
  width: 100%;
}

.signup-form .admin-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.signup-form .admin-toggle span {
  font-size: 13px;
}

.login-page nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

.login-page nav > a {
  font-size: 13px;
  color: var(--clr4);
}

.login-page nav > a:hover {
  color: var(--clr1);
}

.login-page nav > a.active {
  text-decoration: underline;
  color: var(--clr2);
}
