.player-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: black;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  padding: 0 16px;
  color: var(--text-primary);
  z-index: 100;
}

.player-footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-footer-left img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  margin-right: 4px;
}

.track-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.track-title {
  font-size: 14px;
  font-family: "FigTreeRegular", sans-serif;
  color: var(--text-primary);
  margin-top: 1px;
}

.track-artist {
  font-size: 12px;
  color: var(--text-secondary);
}

.player-footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 2px;
}

.player-controls button:not(.play-btn) {
  background: none;
  border: none;
  padding: 0;
  color: var(--text-secondary);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.15s ease;
}

.player-controls button:not(.play-btn):hover {
  transform: scale(1.08);
}

.play-btn {
  width: 31px;
  height: 31px;
  border-radius: 50%;

  background-color: var(--spotify-white);
  color: var(--spotify-black);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  margin-right: 1px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.15s ease;
}

.play-btn svg {
  width: 17px;
  height: 17px;
  display: block;
  margin-top: 1px;
  margin-left: 1px;
}

.play-btn.is-playing {
  /* background-color: var(--spotify-green); */
  color: var(--spotify-black);
  box-shadow: none;
}

.play-btn:hover {
  color: var(--spotify-black);
  transform: scale(1.08);
}

.play-btn {
  overflow: visible;
}

.player-progress {
  display: flex;
  align-items: center;
  gap: 0;
  width: 76%;
  margin-top: 4px;
}

.player-progress span {
  font-size: 13px;
  color: var(--text-secondary);
  min-width: 38px;
  text-align: center;
}

.player-progress input[type="range"],
.player-footer-right input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 3.5px;
  border-radius: 999px;
  cursor: pointer;

  background: linear-gradient(
    to right,
    var(--spotify-white) 0%,
    var(--spotify-white) var(--fill-percent, 0%),
    #535353 var(--fill-percent, 0%),
    #535353 100%
  );
}

.player-progress input[type="range"]:hover,
.player-footer-right input[type="range"]:hover {
  background: linear-gradient(
    to right,
    var(--spotify-green) 0%,
    var(--spotify-green) var(--fill-percent, 0%),
    #535353 var(--fill-percent, 0%),
    #535353 100%
  );
}

.player-progress input[type="range"] {
  flex: 1;
}

.player-progress input[type="range"]::-webkit-slider-thumb,
.player-footer-right input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--spotify-white);

  opacity: 0;
  transition: opacity 0.15s ease;
}

.player-progress input[type="range"]:hover::-webkit-slider-thumb,
.player-footer-right input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}

.player-footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.player-footer-right button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.15s ease;
}

.player-footer-right button:hover {
  transform: scale(1.08);
}

.player-footer-right svg {
  color: var(--text-secondary);
}

.player-footer-right .btn-lyrics {
  margin-top: 3px;
  margin-right: 6px;
}

.player-footer-right .btn-queue {
  margin-top: 3px;
  margin-right: 4px;
}

.player-footer-right .btn-connection {
  margin-bottom: -2px;
  margin-left: 2.5px;
  margin-right: 4.5px;
}

.player-footer-right .btn-volume {
  margin-bottom: -3px;
  margin-left: 1px;
  margin-right: -4px;
}

.player-footer-right .volume-range {
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 0px;
}

.player-footer-right .btn-pip {
  margin-bottom: -2px;
  margin-right: 5px;
}

.player-footer-right .btn-fulls {
  margin-bottom: -2px;
  margin-right: 0px;
}

.player-footer-right input[type="range"] {
  width: 93px;
}
.player-footer-center .btn-repeat,
.player-footer-center .btn-shuffle {
    position: relative;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    transition: color 0.2s ease;
}
