.player-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: black;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  padding: 0 16px;
  color: var(--text-primary);
  z-index: 100;
}

.player-footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.player-footer-left img {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.track-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.track-title {
  font-size: 14px;
  font-family: "FigTreeRegular", sans-serif;
  color: var(--text-primary);
}

.track-artist {
  font-size: 12px;
  color: var(--text-secondary);
}

.player-footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* .player-controls .btn-shuffle {
  transform: translateX(-11px);
}

.player-controls .btn-prev {
  transform: translateX(-5px);
}

.player-controls .btn-next {
  transform: translateX(6px);
}

.player-controls .btn-repeat {
  transform: translateX(12px);
} */

.player-controls button:not(.play-btn) {
  background: none;
  border: none;
  padding: 0;
  color: var(--text-primary);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.15s ease;
}

.player-controls button:not(.play-btn):hover {
  transform: scale(1.02);
}

.play-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--spotify-white);
  color: var(--spotify-black);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.play-btn svg {
  font-size: 34px;
}

.play-btn.is-playing {
  background-color: var(--spotify-green);
  color: var(--spotify-black);
  box-shadow: none;
}

.play-btn:hover {
  color: var(--spotify-black);
  transform: scale(1.08);
}

.play-btn.is-playing:hover {
  color: var(--spotify-black);
}

.player-progress {
  display: flex;
  align-items: center;
  gap: 0px;

  width: 76%;

  margin-top: 4px;
}

.player-progress span {
  font-size: 12px;
  color: var(--text-secondary);

  min-width: 38px;

  text-align: center;
}

.player-progress input[type="range"],
.player-footer-right input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 3.5px;
  border-radius: 999px;
  cursor: pointer;

  background: linear-gradient(
    to right,
    var(--spotify-white) 0%,
    var(--spotify-white) var(--fill-percent, 0%),
    #535353 var(--fill-percent, 0%),
    #535353 100%
  );
}

.player-progress input[type="range"]:hover,
.player-footer-right input[type="range"]:hover {
  background: linear-gradient(
    to right,
    var(--spotify-green) 0%,
    var(--spotify-green) var(--fill-percent, 0%),
    #535353 var(--fill-percent, 0%),
    #535353 100%
  );
}

.player-progress input[type="range"] {
  flex: 1;
}

.player-progress input[type="range"]::-webkit-slider-thumb,
.player-footer-right input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--spotify-white);

  opacity: 0;
  transition: opacity 0.15s ease;
}

.player-progress input[type="range"]:hover::-webkit-slider-thumb,
.player-footer-right input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}

.player-footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.player-footer-right svg {
  color: var(--text-primary);
}

.player-footer-right .btn-lyrics {
  transform: translateX(-23px);
  margin-top: 3px;
  margin-right: 0px;
}

.player-footer-right .btn-queue {
  transform: translateX(-17px);
  margin-top: 3px;
}

.player-footer-right .btn-connection {
  transform: translateX(-13px);
  margin-top: 5px;
}

.player-footer-right .btn-volume {
  transform: translateX(-6px);
  margin-top: 5px;
}

.player-footer-right .volume-range {
  transform: translateX(-11px);
  margin-bottom: 6px;
}

.player-footer-right .btn-pip {
  transform: translateX(-5px);
  margin-bottom: -4px;
}

.player-footer-right .btn-fulls {
  transform: translateX(0px);
  margin-bottom: -4px;
}

.player-footer-right input[type="range"] {
  width: 93px;
}
