.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 420px;
  height: 44px;

  background-color: #2a2a2a;
  border-radius: 999px;
  padding: 0 16px;

  border: 1px solid transparent;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.search-bar:hover {
  background-color: #3a3a3a;
}

.search-bar.active {
  background-color: #3a3a3a;
  border-color: var(--text-primary);
}

.search-indicator {
  font-size: 20px;
  color: var(--text-secondary);
  flex-shrink: 0;
}


.search-bar.active .search-indicator {
  color: var(--text-primary);
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;

  height: 100%;
  width: 320px;

  font-size: 20px;
  font-weight: 500;
  color: var(--text-primary);

  line-height: 44px;
}


.search-bar input::placeholder {
  align-items: center;
  color: var(--text-secondary);
  font-size: large;
}

.search-bar input:read-only {
  cursor: pointer;
}

.search-extra-icon {
  font-size: 20px;
  color: var(--text-secondary);
  flex-shrink: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.search-extra-icon:hover {
  color: var(--text-primary);
}
