@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;900&display=swap');

/* setup of spotify fonts */
@font-face {
    font-family: 'SpotifyMix';
    src: url('./assets/fonts/SpotifyMix-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: 'SpotifyMix';
    src: url('./assets/fonts/SpotifyMix-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}
@font-face {
    font-family: 'SpotifyMix';
    src: url('./assets/fonts/SpotifyMix-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}
@font-face {
    font-family: 'SpotifyMix';
    src: url('./assets/fonts/SpotifyMix-Extrabold.woff2') format('woff2');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}
:root{
--spotify-font: 'SpotifyMix', sans-serif;
}
* {
    box-sizing: border-box;
}

button,
.btn {
    color: var(--text-subdued);
    appearance: none;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

button:hover,
.btn:hover {
    transition: 0.3s;
    color: white;
}

body {
    margin: 0 auto;
    font-family: 'Figtree','Montserrat',var(--spotify-font),system-ui, -apple-system;
    color: var(--text-secondary);
    background-color: var(--bg-base);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
    max-width: 100%;
    display: block;
}