/* Flex helpers */
.flex {
  display: flex;

  >.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

.hidden {
  display: none;
}

.draggable {
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}



/*SCROLL BARS*/
/* .search-page,
.station-index,
.station-details,
.library-station-list {
  overflow-y: auto;
  overflow-x: hidden;
} */


.liked-station-details,
.search-page,
.station-index,
.station-details,
.library-station-list {
  scrollbar-width: thin;  
  scrollbar-color: transparent transparent;  
}

.liked-station-details::-webkit-scrollbar,
.search-page::-webkit-scrollbar,
.station-index::-webkit-scrollbar,
.station-details::-webkit-scrollbar,
.library-station-list::-webkit-scrollbar {
  width: 6px;
}

.liked-station-details::-webkit-scrollbar-track,
.search-page::-webkit-scrollbar-track,
.station-index::-webkit-scrollbar-track,
.station-details::-webkit-scrollbar-track,
.library-station-list::-webkit-scrollbar-track {
  background: transparent;
}
.liked-station-details::-webkit-scrollbar-thumb,
.search-page::-webkit-scrollbar-thumb,
.station-index::-webkit-scrollbar-thumb,
.station-details::-webkit-scrollbar-thumb,
.library-station-list::-webkit-scrollbar-thumb {
  border-radius: 50vh;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.liked-station-details::-webkit-scrollbar-thumb:hover,
.search-page::-webkit-scrollbar-thumb:hover,
.station-index::-webkit-scrollbar-thumb:hover,
.station-details::-webkit-scrollbar-thumb:hover,
.library-station-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.liked-station-details:hover,
.search-page:hover,
.station-index:hover,
.station-details:hover,
.library-station-list:hover {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}