.main-container {
    display: grid;
    grid-template-rows: 66px 1fr 104px;


}

html {
    height: 100%;
    overflow: hidden
}

#root,
.main-container {
    height: 100%;
}

.main-layout {
    display: grid;
    grid-template-columns: minmax(auto, 420px) 1fr;
    background-color: #000;
    gap: 0.7em;
    height: 100%;

}