.main-container {
    display: grid;
    grid-template-rows: 56px 1fr 104px ;

}

.main-layout {
    display: grid;
    grid-template-columns: minmax(auto, 420px) 1fr;
    background-color: #000;
    gap: 0.7em;
}