.liked-station-details,
.search-page,
.station-index,
.station-details,
.library-station-list {
    overflow-y: scroll;
}

.liked-station-details::-webkit-scrollbar,
.search-page::-webkit-scrollbar,
.station-index::-webkit-scrollbar,
.station-details::-webkit-scrollbar,
.library-station-list::-webkit-scrollbar {
    width: 6px;

}

.liked-station-details::-webkit-scrollbar-track,
.search-page::-webkit-scrollbar-track,
.station-index::-webkit-scrollbar-track,
.station-details::-webkit-scrollbar-track,
.library-station-list::-webkit-scrollbar-track {
    background: transparent;
}

.liked-station-details::-webkit-scrollbar-thumb,
.search-page::-webkit-scrollbar-thumb,
.station-index::-webkit-scrollbar-thumb,
.station-details::-webkit-scrollbar-thumb,
.library-station-list::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50vh;
    width: 6px;
}


.liked-station-details:hover::-webkit-scrollbar-thumb,
.search-page:hover::-webkit-scrollbar-thumb,
.station-index:hover::-webkit-scrollbar-thumb,
.station-details:hover::-webkit-scrollbar-thumb,
.library-station-list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}