


@font-face {
    font-family: 'FigTreeRegular';
    src: url('../../fonts/Figtree-Regular.ttf') ;
    font-style: normal;
}
@font-face {
    font-family: 'FigTreeBold';
    src: url('../../fonts/Figtree-Bold.ttf');
    font-style: normal;
}

