


@font-face {
    font-family: 'FigTreeRegular';
    src: url('./assets/fonts/FigTree-Regular.ttf') ;
    font-style: normal;
}
@font-face {
    font-family: 'FigTreeBold';
    src: url('./assets/fonts/FigTree-Bold.ttf');
    font-style: normal;
}

