.first-station-list {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-bottom: 1.5rem;
    padding: 0 16px;

    .station-preview {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 6px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        transition: background-color 0.3s ease;
        cursor: pointer;
        position: relative;


        .station-img {
            width: 48px;
            height: 48px;
            border-radius: 8px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .play-icon {
            color: var(--spotify-green);
            position: absolute;

            right: 5px;
            font-size: 3em;
            opacity: 0;
            transform: translateY(0);
            transition: opacity 0.5s ease;
            transform: scale 0.5s ease;

            :hover {
                scale: 1.05;
                color: var(--spotify-green-light)
            }
        }

        &:hover .play-icon {
            opacity: 1;

        }

        h3 {
            font-size: 1em;
            font-family: 'FigTreeRegular', system-ui, sans-serif
              
        }
    }

    .station-preview:hover {
        background-color: rgba(255, 255, 255, 0.15);

    }


}