.library-station-list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .station-link {
        display: block;
        text-decoration: none;

    }

    .station-preview {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "i n"
            "i c";
        align-items: center;
        column-gap: 1em;
        padding: 6px 8px;
        border-radius: 4px;
        transition: background-color 0.15s ease, transform 0.1s ease;
        font-weight: normal;

        .station-img {
            width: 60px;
            grid-area: i;
            position: relative
        }

        h3 {
            grid-area: n;
            margin: 0;
            font-weight: normal;

        }

        h4 {
            grid-area: c;
            margin: 0;
        }


        h5 {
            color: var(--text-secondary);
            font-weight: normal;
        }
    }


    .station-preview:hover {
        background-color: var(--bg-highlight);
    }


    .icon-backdrop {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 0.2s ease;

        .library-play-icon {
            position: absolute;
            font-size: 2.5rem;
        }
    }

    .station-preview:hover .icon-backdrop {
        opacity: 1;
    }


}