.library {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--bg-base);
    color: var(--text-primary);
    border-radius: 12px;
    padding: 8px;
    gap: 8px;

    button {
        color: var(--text-primary);
    }

    .icon-title-div {
        display: flex;
    }


    &:hover .library-toggle {
        opacity: 1;
        transform: translateX(0);
    }

    &:hover .LibraryOpenIcon {
        display: block;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'FigTreeBold', sans-serif;
        padding: 8px;
        font-size: 16px;
        flex: 0 0 auto;

        .LibraryOpenIcon {
            width: 2em;
            fill: var(--text-secondary);
            display: none;

            &:hover {
                cursor: pointer;
            }
        }

        .library-toggle {
            opacity: 0;
            transform: translateX(-10px);
            transition: opacity 0.4s ease, transform 0.4s ease;
        }


        .library-toggle:hover .LibraryOpenIcon {
            fill: var(--text-primary)
        }


        .library-header-btns {
            display: flex;
            align-items: center;

            gap: 6px;


            .add-station-btn {
                display: flex;
                align-items: center;
                justify-items: center;
                border-radius: 50vh;
                color: var(--text-subdued);
                background-color: #1f1f1f;
                gap: 6px;
                padding: 6px 12px;
                font-size: 14px;
                font-family: 'FigTreeBold', sans-serif;


                span {
                    color: var(--text-primary)
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                    color: var(--text-primary);
                }
            }

            .expand-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: transparent;
                cursor: pointer;
                border-radius: 50%;
                background-color: transparent;
                width: 28px;


                &:hover {
                    background-color: var(--bg-highlight);
                }

                &:hover .ExpandIcon {
                    fill: var(--text-primary);
                }

                .ExpandIcon {
                    fill: var(--text-secondary);
                }
            }
        }
    }


    header h2 {
        font-size: 1em;
    }


    .filter-btns {
        display: flex;
        padding: 0 8px;
        gap: 0.6rem;
        flex: 0 0 auto;

        .library-btn {
            display: flex;
            align-items: center;
            justify-items: center;
            border-radius: 50vh;
            padding: 8px 12px;
            font-size: 1em;
            background-color: #2a2a2a;


            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }

            &.active {
                background-color: #fff;
                color: #000;
            }
        }
    }


    .search-sort {
        display: flex;
        padding: 8px 8px 0;
        flex: 0 0 auto;
        justify-content: space-between;
        align-items: center;
        color: var(--text-subdued);

        span {
            display: flex;
            align-items: center;
        }

        .search {
            padding-left: 8px;
            background-color: transparent;
            border-radius: 50%;
            color: var(--text-subdued);

            &:hover {
                background-color: #2a2a2a;
                color: #fff;
            }

            .search-icon{
                width: 16px;
            }
        }

        .sort-list {
            display: flex;
            gap: 5px;
            transition: scale 0.25s ease;

            &:hover {
                cursor: pointer;
                color: #fff;
                scale: 1.05;
            }
        }
    }
}