.library {
    width: 100%;
    background-color: var(--bg-base);
    color: var(--text-primary);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    button {
        color: var(--text-primary);
        background-color: #2a2a2a;
    }

    .icon-title {
        display: flex;
        column-gap: 1em;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        padding-bottom: 1em;

        .LibraryOpenIcon {
            width: 1.5em;
            fill: var(--text-secondary);
        }

        .library-toggle:hover .LibraryOpenIcon {
            fill: var(--text-primary)
        }


        .library-header-btns {
            display: flex;
            align-items: center;
            gap: 0.5em;

            .add-station-btn {
                display: flex;
                align-items: center;
                justify-items: center;
                border-radius: 50vh;
                color: var(--text-subdued);
                gap: 0.5em;
                padding: 6px 12px;
                font-size: 1em;
                font-weight: bold;
                line-height: 1;


                span {
                    color: var(--text-primary)
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                    color: var(--text-primary);
                }
            }

            .expand-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background: transparent;
                cursor: pointer;
                border-radius: 50%;
                background-color: transparent;
                width: 30px;


                &:hover {
                    background-color: var(--bg-highlight);
                }

                &:hover .ExpandIcon {
                    fill: var(--text-primary);
                }

                .ExpandIcon {
                    fill: var(--text-secondary);
                }
            }
        }
    }


    header h2 {
        font-size: 1em;
    }


    .filter-btns {
        display: flex;
        gap: 0.6rem;

        .library-btn {
            display: flex;
            align-items: center;
            justify-items: center;
            border-radius: 50vh;
            padding: 8px 12px;
            font-size: 1em;


            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }

            &.active {
                background-color: #fff;
                color: #000;
            }
        }
    }


    .search-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-secondary);

        span {
            display: flex;
            align-items: center;
        }

        .search {
            padding: 0.5em;
            background-color: transparent;
            border-radius: 50%;
            color: var(--text-secondary);

            &:hover {
                background-color: #2a2a2a;
                color: #fff;
            }
        }

        .sort-list {
            display: flex;
            gap: 5px;
            transition: scale 0.25s ease;

            &:hover {
                cursor: pointer;
                color: #fff;
                scale: 1.05;
            }
        }
    }
}