.liked-station-details {
    color: var(--gray1);
    border-radius: 8px;
    background-color: #121212;
    overflow-y: auto;
    height: 100%;

    header {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 24px;
        row-gap: 8px;
        margin-bottom: 1em;
        background: linear-gradient(180deg, #5b44ff 0%, #4a2c99 40%, #181818 100%);


        grid-template-areas:
            "i ."
            "i n"
            "i c"
            "b b";

        align-items: end;
        padding: 80px 20px 20px 20px;
        border-radius: 8px;
        transition: background-color 0.15s ease, transform 0.1s ease;

        .station-img {
            grid-area: i;
        }

        h1 {
            font-size: 6.85em;
            font-family: FigTreeBold;
            grid-area: n;
        }

        h4 {
            grid-area: c;

            span {
                color: var(--text-secondary);
            }
        }

        img {
            grid-area: img;
            width: 230px;
            border-radius: 4px;
            object-fit: cover;
        }

        .station-details-btns {
            display: flex;
            justify-content: space-between;
            padding: 1em 0 1em;
            grid-area: b;



            .play-btns {
                display: grid;
                grid-auto-flow: column;
                align-items: center;
                justify-content: start;
                column-gap: 1em;
            }

            .list-btn {
                display: flex;
                align-items: center;
                gap: 4px;
                color: var(--text-subdued);


                &:hover {
                    cursor: pointer;
                    color: var(--text-primary);
                }
            }



            .shuffle-icon {
                width: 2em;
                fill: var(--text-subdued);
                transform: scale 0.5s ease;

                &:hover {
                    cursor: pointer;
                    fill: var(--text-primary);
                    scale: 1.05;
                }
            }

            .play-icon {
                color: var(--spotify-green);
                font-size: 4em;
                transform: scale 0.5s ease;

                :hover {
                    scale: 1.05;
                    color: var(--spotify-green-light)
                }
            }

            &:hover .play-icon {
                cursor: pointer;
            }


        }
    }





}