.liked-station-details {
    color: var(--gray1);
    padding: 2em;


    header {
        display: grid;
        grid-template-columns: auto 1fr;

        column-gap: 24px;
        row-gap: 8px;

        grid-template-areas:
            "i ."
            "i n"
            "i c";
        align-items: end;
        column-gap: 1em;
        padding: 6px 8px;
        border-radius: 4px;
        transition: background-color 0.15s ease, transform 0.1s ease;

        .station-img {

            grid-area: i;
        }

        h1 {
            font-size: 5em;
            font-weight: 800;
            grid-area: n;

        }

        h4 {
            grid-area: c;

        }

        img {
            grid-area: img;
            width: 230px;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}