.station-list {
    position: relative;

    .station-preview {
       position: relative;
        display: grid;
        border-radius: 8px;
        transition: background-color 0.2s ease, transform 0.2s ease;
        color: #9d9d9d;
        padding: 12px;
        margin-bottom: 3em;

        .station-img {
            width: 153px;
            /* 170px on full size*/
            justify-self: center;
            position: relative;
            margin-bottom: 1em;


            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 4px;
                object-fit: cover;
                display: block;

            }

            .play-icon {
                color: var(--spotify-green);
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 3em;
                opacity: 0;
                transform: translateY(0);
                transition: opacity 0.5s ease;
                transition: transform 0.5s ease;
                transform: scale 0.5s ease;

                :hover {
                    scale: 1.05;
                    color: var(--spotify-green-light)
                }
            }
            

        }

        .station-desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        &:hover .play-icon {
            opacity: 1;
            transform: translateY(-5px)
        }

    }
}

 .station-options-menu {
                background-color: #282828;
                box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3),
                    0 6px 8px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
               font-size: 17.5px;
               font-family: 'FigTreeRegular', sans-serif;
               padding: 4px;
               min-width: 325px;
               max-width: 70vh;
               overflow-y: auto;
                display: flex;
                flex-direction: column;
                z-index: 1000;
                animation: menuFadeIn 0.1s ease-out;
                button {
                   font-family: 'figtreeRegular', sans-serif;
                    background: none;
                    border: none;
                    color: #eaeaea;
                    padding: 10px 12px;
                    text-align: left;
                    font-size: 18px;
                    cursor: pointer;
                    width: 100%;
                    white-space: nowrap;
                    border-radius: 2px;

                    &:hover {
                        background-color: hsla(0, 0%, 100%, 0.1);
                        color: #fff;
                    }
                }
                .separator {
                    height: 1px;
                    background-color: hsla(0, 0%, 100%, 0.1);
                    margin: 4px;
                }
            }