.station-details {
    color: var(--gray1);
    background-color: #121212;
    overflow-y: auto;
    height: 100%;
    border-radius: 12px;
    scrollbar-gutter: stable;


    .station-details-header {
        display: grid;
        padding: 20px;

        h1 {
            font-family: FigTreeBold;
            margin: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .desc {
            font-size: 14px;
            color: var(--text-secondary);
        }

        h5 {
            span {
                color: var(--text-secondary);
            }
        }

        img {
            justify-self: center;
            width: 230px;
            border-radius: 4px;
            object-fit: cover;
            margin-bottom: 0.5em;
        }
    }

    .station-details-btns {
        display: flex;
        justify-content: space-between;
        height: 92px;
        width: 100%;
        padding: 0 16px;
        /* border-top: 1px solid rgba(47, 47, 47, 0.7); */
        grid-area: b;

        .play-btns {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-content: start;
            column-gap: 1em;
        }

        .list-btn {
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--text-subdued);

            &:hover {
                cursor: pointer;
                color: var(--text-primary);
            }
        }

        .shuffle-icon {
            width: 2em;
            fill: var(--text-subdued);
            transform: scale 0.5s ease;

            &:hover {
                cursor: pointer;
                fill: var(--text-primary);
                scale: 1.05;
            }
        }

        /* .like-btn {
            transform: scale 0.5s ease;
            &:hover {
                cursor: pointer;
                 fill: var(--text-primary); 
                scale: 1.05;
            }
        } */

        .play-icon {
            color: var(--spotify-green);
            font-size: 4em;
            transform: scale 0.5s ease;

            :hover {
                scale: 1.05;
                color: var(--spotify-green-light);
            }
        }

        &:hover .play-icon {
            cursor: pointer;
        }
    }
}