.station-list {
    position: relative;
    
   
    

    .station-preview {
        display: grid;
        border-radius: 8px;
        transition: background-color 0.2s ease, transform 0.2s ease;
        color: #9d9d9d;
        padding: 1rem;
        margin-bottom: 3em;

        .station-img {
            width: 153px; /* 170px on full size*/
            justify-self: center;
            position: relative;
            margin-bottom: 1em;

            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 4px;
                object-fit: cover;
                display: block;

            }
        }

        .station-desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }



        .play-icon {
            color: var(--spotify-green);
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 3em;
            opacity: 0;
            transform: translateY(0);
            transition: opacity 0.5s ease;
            transition: transform 0.5s ease;
            transform: scale 0.5s ease;

            :hover {
                scale: 1.05;
                color: var(--spotify-green-light)
            }
        }

        &:hover .play-icon {
            opacity: 1;
            transform: translateY(-5px)
        }

    }
}