.station-preview {
    display: grid;
    border-radius: 8px;
    padding: 16px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    color: #9d9d9d;
    width: 220px;


    &:hover {
        background-color: #181818;

    }

    .station-img {
        width: 180px;
        justify-self: center;

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 4px;
            object-fit: cover;
            display: block;
            margin-bottom: 1em;
        }


    }

    .station-desc {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .station-link{
     
    }
}


