.station-index {
    color: white;
    background-color: var(--bg-base); 
    border-radius: 8px;
    max-width: 100%;
    overflow-x: hidden;


    .index-header {
        margin-inline-start: 3rem;
        font-size: 1.5em;
        font-weight: bold;
    }
}