.station-index {
    color: white;
    background: linear-gradient(180deg,
            #5b44ff 0%,
            #4a2c99 5%,
            var(--bg-base) 20%);
   
    max-width: 100%;
    overflow-x: hidden;
    /* padding: 1em 0 1em 24px; */
    overflow-y: auto;
    height: 100%;
    /* scrollbar-gutter: stable; */

    .index-header {
        font-size: 20px;
        font-family: 'FigTreeBold', sans-serif;
        padding-left: 16px;
        margin-bottom: 6px;
    }

    .username-station-header {
        font-size: 11px;
        font-weight: normal;
        color: var(--text-subdued);
        padding-left: 16px;
        margin-bottom: 6px;
    }

    /* .station-desc {
        font-size: 20px;
        width: 153px;
    } */

    .filter-bar {
        display: flex;
        gap: 8px;
        margin-bottom: 1.5em;
        padding-left: 16px;

        .index-filter-btn {
            display: flex;
            align-items: center;
            justify-items: center;
            border-radius: 50vh;
            background-color: rgba(255, 255, 255, 0.1);
            font-family: 'FigTreeRegular', sans-serif;
            padding: 8px 12px;
            font-size: 1em;
            color: white;

            &:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }

            &.active {
                background-color: #fff;
                color: #000;
            }
        }
    }


}