.track-preview {
    display: grid;
    grid-template-columns: 40px minmax(0, 2.5fr) minmax(0, 2fr) minmax(0, 2fr) 120px;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    gap: 16px;
    &:has(.wide) {
        grid-template-columns: 1fr 120px;
    }
    border-radius: 6px;
    padding: 0.3rem 1rem;
    font-size: 17.5px;

    color: var(--text-secondary);

    &:hover {
        background-color: var(--bg-highlight);
        .like-btn,
        .time-options .options {
            opacity: 1;
        }
        .track-num {
            opacity: 0;
        }
        .play-icon {
            opacity: 1;
        }
    }
    .basic-info-container {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        min-width: 0;

        grid-template-areas:
            'img name'
            ' img artist';

        &.wide {
            max-width: none;
            grid-column: 1 / 2;
            .track-name,
            .track-artist {
                text-overflow: clip;
            }
        }
    }
    .track-num {
        place-self: center;
        margin-left: 10px;
    }
    .track-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        grid-area: name;
        align-self: start;
        font-size: 20px;
        font-family: 'FigTreeBold';

        color: white;
    }
    .track-img {
        grid-area: img;
        border-radius: 5px;
        margin-inline-end: 10px;
        max-width: 45px;
        max-height: 45px;
    }
    .track-artist {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        grid-area: artist;
        align-self: end;

        font-size: 17.5px;
        font-weight: 600;
    }
    .track-album,
    .track-date {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0px;
        width: 100%;
    }
    .track-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-width: 80px;

        .time-options {
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;

            .duration {
                align-self: start;
            }

            .options {
                opacity: 0;
                margin-left: 2px;
                margin-top: 1px;
            }

            .options-menu {
                position: absolute;
                top: 100%;
                right: 20px;
                background-color: #282828;
                box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3),
                    0 6px 8px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                padding: 4px;
                z-index: 1000;
                min-width: 330px;
                display: flex;
                flex-direction: column;
                button {
                    background: none;
                    border: none;
                    color: #eaeaea;
                    padding: 12px 12px;
                    text-align: left;
                    font-size: 18px;
                    cursor: pointer;
                    width: 100%;
                    white-space: nowrap;
                    border-radius: 2px;

                    &:hover {
                        background-color: hsla(0, 0%, 100%, 0.1);
                        color: #fff;
                    }
                }
                .separator {
                    height: 1px;
                    background-color: hsla(0, 0%, 100%, 0.1);
                    margin: 4px;
                }
            }
        }
        .like-btn {
            opacity: 0;
        }
    }

    .track-preview:hover {
        background-color: var(--bg-highlight);
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);

        opacity: 0;
        color: white;
        transition: opacity 0.2s ease;
    }
}

.track-preview:hover .like-btn,
.track-preview:hover .options {
    opacity: 1 !important;
}

.track-preview:hover .track-artist,
.track-preview:hover .track-album {
    color: white;
}
.like-btn:hover {
    transform: scale(1.05);
}

.index-col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
}
