.tracks-header-container {
    display: grid;
    grid-template-columns: 40px minmax(0, 2.5fr) minmax(0, 2fr) minmax(0, 2fr) 120px;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    gap: 16px;
    padding: 0.3rem 1rem;

    margin-bottom: 12px;
    font-size: 17.5px;

    .duration-container {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .number {
        place-self: center;
        margin-left: 16px;
          font-family:'FigTreeMedium';
          font-size: 20px;
          color: var(--text-secondary);
    }
    .title {
        font-family:'FigTreeMedium';
    }
    .demoBtn {
        cursor: default;
        opacity: 0;
        /* margin-left: 10px; */
    }
}

.songs-header {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}
