.tracks-header-container {
    display: grid;
    grid-template-columns: auto 0.7fr 0.7fr 2fr 0.5fr;
    justify-content: space-between;
    justify-items: start;
    gap: 16px;
    padding-inline: 16px;
    border-bottom: 1px solid #282828;
    margin-bottom: 12px;
    font-size: 17.5px;

    .duration-container {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .number {
      margin-left: 10px;
    }
    .title{
      margin-left: 10px;
    }
    .demoBtn {
      cursor:default;
        opacity: 0;
        margin-left: 10px;
    }
}
