.track-preview {
    display: grid;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    font-size: 14px;

    color: var(--text-secondary);

    &:has(.wide) {
        grid-template-columns: 1fr 120px;
    }

    &:hover {
        background-color: var(--bg-highlight);

        .like-btn,
        .time-options .options {
            opacity: 1;
        }

        .track-num {
            opacity: 0;
        }

        .play-icon {
            opacity: 1;
        }
    }

    .basic-info-container {
        display: grid;
        grid-template-columns: auto 1fr;
        min-width: 0;

        grid-template-areas:
            'img name'
            ' img artist';

        &.wide {
            max-width: none;
            grid-column: 1 / 2;

            .track-name,
            .track-artist {
                text-overflow: clip;
            }
        }
    }

    .track-num {
        place-self: center;
        margin-left: 16px;
    }

    .track-name {
        align-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        grid-area: name;
        font-size: 16px;
        /* font-family: 'FigTreeBold', sans-serif;  */
        font-weight: normal;

        color: white;
    }

    .track-img {
        grid-area: img;
        border-radius: 5px;
        margin-inline-end: 10px;
        max-width: 45px;
        max-height: 45px;
    }

    .track-artist {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        grid-area: artist;

        font-size: 14px;
    }

    .track-actions {
        display: flex;
        align-items: center;
        /* width: 100%; */

        .time-options {
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;

            .duration {
                align-self: center;
            }

            .options {
                /* opacity: 1; */
                margin-left: 2px;
                margin-top: 1px;
            }

            .options-menu {
                position: absolute;
                right: 0;
                background-color: #282828;
                box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3),
                    0 6px 8px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                font-size: 17.5px;
                font-family: 'FigTreeRegular', sans-serif;
                padding: 4px;
                min-width: 325px;
                max-width: 70vh;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                z-index: 1000;
                animation: menuFadeIn 0.1s ease-out;

                button {
                    font-family: 'FigTreeRegular', sans-serif;
                    color: white;
                    font-size: 1em;
                    width: 100%;
                    padding: 10px 12px;
                    border-radius: 2px;
                    white-space: nowrap;
                    cursor: pointer;

                    &:hover {
                        background-color: hsla(0, 0%, 100%, 0.1);
                        color: #fff;
                    }
                }

                .separator {
                    height: 1px;
                    background-color: hsla(0, 0%, 100%, 0.1);
                    margin: 4px;
                }
            }
        }
    }

    .track-preview:hover {
        background-color: var(--bg-highlight);
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);

        opacity: 0;
        color: white;
        transition: opacity 0.2s ease;
    }
}

.track-preview:hover .like-btn,
.track-preview:hover .options {
    opacity: 1 !important;
}

.track-preview:hover .track-artist,
.track-preview:hover .track-album {
    color: white;
}

.like-btn:hover {
    transform: scale(1.05);
}

.index-col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
}

@keyframes menuFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
